.greeting-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 170px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: all 0.5s ease-in-out;
}

.greeting-box h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.greeting-box:hover {
  transform: scale(1.05, 1.1);
}

.greeting input {
  background: transparent;
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.greeting input:focus {
  outline: none;
}

.greeting input::placeholder {
  color: black;
}
